<div class="container">
    <h5>Stories</h5>
    <ng-container *ngIf="stories.length > 0; else noStories">
      <div class="list-wrapper">
      <div class="list-item" *ngFor="let story of stories">
        <div class="story-header">
          <span class="story-name">{{ story.storyName }}</span>
          <span class="story-points">Points: {{ story.storyPoint }}</span>
        </div>
        <div class="story-description">{{ story.storyDescription }}</div>
      </div>
    </div>
  </ng-container>
  <ng-template #noStories>
    <div class="no-data">
      No Stories Available.
    </div>
  </ng-template>
  </div>