<div class="container">
    <h5>Sprints</h5>
    <ng-container *ngIf="sprints.length > 0; else noSprints">
    <div class="list-wrapper">
        <div class="list-item" *ngFor="let sprint of sprints" (click)="onSelectSprint(sprint)">
          <div class="story-header">
          <span class="story-name">{{ sprint.sprintName }}</span>
          <span class="story-points">Points: {{ sprint.sprintPoint }}</span>
        </div>
        </div>
    </div>
    </ng-container>
    <ng-template #noSprints>
      <div class="no-data">
        No Sprints Available.
      </div>
    </ng-template>
</div>