<div class="container">
  <h5>{{sprintData.sprintName}}</h5>
  <ng-container *ngIf="sprintStories.length>0;else noSprints">
    <div class="list-wrapper">
        <div class="list-item" *ngFor="let story of sprintStories">
          <div class="story-header">
          <span class="story-name">{{ story.storyName }}</span>
          <span class="story-points">Points: {{ story.storyPoint }}</span>
        </div>
        <div class="story-description">{{ story.storyDescription }}</div>
        </div>
    </div>
  </ng-container>
  <ng-template #noSprints>
    <div class="no-data">
      No Stories assigned.
    </div>
  </ng-template>
</div>